* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
  background: rgba(0, 0, 0, 0.03);
}

a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

button {
  padding: 15px 35px;
  font-family: "Sora", sans-serif;
  font-size: 10px;
  background: #292929;
  color: #fff;
  border: none;
  font-weight: 500;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

button > i {
  margin-left: 10px;
}

.touch-indicator {
  border-radius: 50%;
}

.touch-indicator:active {
  background: rgba(0, 0, 0, 0.08);
}

.link {
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
  font-weight: 500;
}

.link:nth-child(2) {
  margin: 0 20px;
}

.link:hover, .link:active {
  background: rgba(0, 0, 0, 0.08);
}

.liner {
  width: 30px;
  height: 3px;
  background: white;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials .social {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.socials .social i {
  color: rgba(0, 0, 0, 0.7);
}

.alert {
  width: 100%;
  height: 50px;
  display: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-shadow: 13px 32px 36px -14px rgba(179, 179, 179, 0.3);
          box-shadow: 13px 32px 36px -14px rgba(179, 179, 179, 0.3);
  margin-bottom: 15px;
  color: white !important;
  padding: 10px;
}

.alert > p {
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .touch-indicator:active {
    background: transparent;
  }
}

.top-bar {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top-bar ul.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0;
}

.home-screen {
  height: 100%;
}

.home-tab {
  width: 100%;
  padding: 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.home-tab > div {
  width: 50%;
  margin-bottom: 10%;
}

.home-tab .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-tab .about > h1 {
  font-size: 50px;
}

.home-tab .about > p {
  line-height: 30px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
}

.home-tab .about .explore-link {
  margin-top: 60px;
}

.home-tab .picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.home-tab .picture > img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .home-tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0 20px;
  }
  .home-tab > div {
    width: 100%;
  }
  .home-tab .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-tab .about > h1 {
    font-size: 20px;
  }
  .home-tab .about > p {
    font-size: 14px;
    text-align: center;
  }
  .home-tab .about .socials.home .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-tab .picture {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-tab .picture > img {
    width: 120px;
    height: 120px;
  }
}

.contact-div {
  width: 100%;
  padding: 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.contact-div form.leave-message {
  margin-bottom: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 200px;
}

.contact-div form.leave-message .short-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.contact-div form.leave-message .short-input .short-input-child:not(:first-child) {
  margin-left: 50px;
}

.contact-div form.leave-message .short-input-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

.contact-div form.leave-message .short-input-child .is-relative {
  position: relative;
  width: 100%;
}

.contact-div form.leave-message .short-input-child .is-relative textarea {
  height: 100px !important;
  font-family: "Sora", sans-serif;
  font-size: 15px !important;
  padding-top: 10px;
}

.contact-div form.leave-message .short-input-child .is-relative > input, .contact-div form.leave-message .short-input-child .is-relative > textarea {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  margin-top: 7px;
  font-size: 16px;
}

.contact-div form.leave-message .short-input-child .is-relative > input ~ .focus-border, .contact-div form.leave-message .short-input-child .is-relative > textarea ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #000;
}

.contact-div form.leave-message .short-input-child .is-relative > input:focus ~ .focus-border, .contact-div form.leave-message .short-input-child .is-relative > textarea:focus ~ .focus-border {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contact-div form.leave-message .short-input-child.outside {
  width: 100%;
}

.contact-div form.leave-message .short-input-child.outside .is-relative {
  width: 100%;
}

.cover {
  position: relative;
  width: 60%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}

.cover .tuner {
  width: 20px;
  height: 50%;
  background: black;
  -webkit-animation: load 2s infinite;
          animation: load 2s infinite;
  background-color: #fff;
}

.cover .tuner:nth-child(2) {
  margin: 0 8px;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.cover .tuner:last-child {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes load {
  0% {
    height: 100%;
  }
  50%, 100% {
    height: 50%;
  }
}

@keyframes load {
  0% {
    height: 100%;
  }
  50%, 100% {
    height: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .contact-div {
    padding: 0 20px;
    height: unset;
  }
  .contact-div form.leave-message {
    padding: 0;
  }
  .contact-div form.leave-message .short-input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-div form.leave-message .short-input .short-input-child {
    margin: 0 !important;
    width: 100%;
  }
}

.portfolio-cover {
  width: 100%;
  padding: 0 200px 20px;
}

.portfolio-cover .topmost {
  padding-left: 40px;
}

.portfolio-div {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-div .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.75rem;
  color: white;
  width: 49%;
  margin-bottom: 2vw;
  -webkit-box-shadow: 13px 32px 36px -14px rgba(179, 179, 179, 0.3);
          box-shadow: 13px 32px 36px -14px rgba(179, 179, 179, 0.3);
}

.portfolio-div .project {
  background: #292929;
}

/* .portfolio-div .project:nth-child(2) {
  background: #6a89cc;
}

.portfolio-div .project:nth-child(3) {
  background: #101820;
}

.portfolio-div .project:nth-child(4) {
  background: #4064da;
}

.portfolio-div .project:nth-child(5) {
  background: #f01364;
}

.portfolio-div .project:nth-child(6) {
  background: #5c504c;
}

.portfolio-div .project:last-child {
  background: #079992;
} */

.portfolio-div .project .image {
  width: 100%;
}

.portfolio-div .project .image > img {
  width: 45px;
}

.portfolio-div .project .top {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.portfolio-div .project .top .title {
  font-size: 20;
  color: white;
  margin: 0;
}

.portfolio-div .project .top .stack {
  color: rgb(122, 122, 122);
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}

.project-action {
  color: rgba(190, 190, 190, 0.842);
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
}

.project-action:hover {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  .portfolio-cover {
    padding: 0 20px 30px;
  }
  .portfolio-cover .topmost {
    padding-left: 0;
  }
  .portfolio-div {
    padding: 0;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .portfolio-div .project {
    width: 100%;
    /* padding-top: 30px; */
  }

  .project .top {
    flex-direction: column;
  }

  .project-action-cover {
    margin-top: 16px;
  }
}

.transition-group {
  height: 90%;
  position: relative;
}

.transition-group .route-section {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.slide-enter {
  bottom: -100%;
}

.slide-enter.slide-enter-active {
  bottom: 0;
  -webkit-transition: 200ms ease-in;
  transition: 200ms ease-in;
}

.slide-exit {
  bottom: 0;
}

.slide-exit.slide-exit-active {
  bottom: -100%;
  -webkit-transition: ease-in;
  transition: ease-in;
}

.app {
  height: 100%;
  position: relative;
}
/*# sourceMappingURL=styles.css.map */